/* GRILLES */
/* ALERTES */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  font-size: 16px; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: underline;
  font-style: italic; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-weight: bold; }
  h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small {
    font-size: 70%;
    color: grey; }

h1 {
  font-size: 35px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 25px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 15px; }

h6 {
  font-size: 10px; }

h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small {
  font-size: 70%;
  color: grey; }

ins {
  text-decoration: underline; }

abbr {
  font-weight: bold; }

strong {
  font-weight: bold; }

del {
  text-decoration: line-through; }

mark {
  background-color: yellow; }

p {
  margin-bottom: 15px; }

blockquote {
  font-style: italic;
  margin: 30px; }
  blockquote:before {
    content: '"';
    font-size: 200%;
    font-style: italic; }
  blockquote:after {
    content: '"';
    font-size: 200%;
    font-style: italic; }

code {
  margin: 30px;
  background-color: grey;
  border-radius: 10px;
  padding: 30px;
  opacity: 0.8; }

pre {
  margin: 30px;
  background-color: grey;
  border: 1px solid black;
  padding: 10px; }

kbd {
  margin: 30px;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px; }

ul {
  padding: 30px; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.justify {
  text-align: justify; }

.upperCase {
  text-transform: uppercase; }

.lowerCase {
  text-transform: lowercase; }

table {
  border: medium solid black;
  width: 50%; }
  table td {
    border: thin solid grey;
    width: 50%; }
  table th {
    border: medium solid black;
    width: 50%; }

.btn {
  color: #FE7F01;
  padding: 3px;
  background-color: #3B3734;
  background-image: -webkit-linear-gradient(top, #777F86, #3B3734);
  background-image: -moz-linear-gradient(top, #777F86, #3B3734);
  background-image: -ms-linear-gradient(top, #777F86, #3B3734);
  background-image: -o-linear-gradient(top, #777F86, #3B3734);
  background-image: linear-gradient(to bottom, #777F86, #3B3734);
  border-right: solid 3px gray;
  border-bottom: solid 3px gray;
  border-radius: 3px;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  font-weight: bold;
  text-shadow: 0 0 1px black; }

.btn:hover {
  cursor: pointer; }

.btn:active {
  border: solid 3px gray;
  cursor: pointer;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  /* box-shadow: h-pos v-pos (blur) (spread) (color) (inset); */ }

.btn-blue {
  background-color: #0040F2;
  background-image: -webkit-linear-gradient(top, #017DEA, #0040F2);
  background-image: -moz-linear-gradient(top, #017DEA, #0040F2);
  background-image: -ms-linear-gradient(top, #017DEA, #0040F2);
  background-image: -o-linear-gradient(top, #017DEA, #0040F2);
  background-image: linear-gradient(to bottom, #017DEA, #0040F2);
  border-right: solid 3px #0E0051;
  border-bottom: solid 3px #0E0051;
  border-left: solid 3px #017DEA;
  border-top: solid 3px #017DEA;
  color: #CFD7BF; }

.btn-blue:active {
  background-color: #52EFE4;
  color: #000545; }

.btn-red {
  background-color: #A60000;
  background-image: -webkit-linear-gradient(top, #F60000, #A60000);
  background-image: -moz-linear-gradient(top, #F60000, #A60000);
  background-image: -ms-linear-gradient(top, #F60000, #A60000);
  background-image: -o-linear-gradient(top, #F60000, #A60000);
  background-image: linear-gradient(to bottom, #F60000, #A60000);
  border-right: solid 3px #5B0505;
  border-bottom: solid 3px #5B0505;
  border-left: solid 3px #F60000;
  border-top: solid 3px #F60000;
  color: #CFD7BF; }

.btn-red:active {
  background-color: #52EFE4;
  color: #000545; }

.btn-green {
  background-color: #A60000;
  background-image: -webkit-linear-gradient(top, #15B604, #0A6500);
  background-image: -moz-linear-gradient(top, #15B604, #0A6500);
  background-image: -ms-linear-gradient(top, #15B604, #0A6500);
  background-image: -o-linear-gradient(top, #15B604, #0A6500);
  background-image: linear-gradient(to bottom, #15B604, #0A6500);
  border-right: solid 3px #074600;
  border-bottom: solid 3px #074600;
  border-left: solid 3px #15B604;
  border-top: solid 3px #15B604;
  color: #CFD7BF; }

.btn-green:active {
  background-color: #52EFE4;
  color: #000545; }

.btn-fancy {
  background-color: red;
  background-image: -webkit-linear-gradient(top, #15B604, red);
  background-image: -moz-linear-gradient(top, blue, red);
  background-image: -ms-linear-gradient(top, blue, red);
  background-image: -o-linear-gradient(top, blue, red);
  background-image: linear-gradient(to bottom, #blue, red);
  border-right: solid 3px #0E0051;
  border-bottom: solid 3px #0E0051;
  border-left: solid 3px #017DEA;
  border-top: solid 3px #017DEA;
  color: #CFD7BF; }

.btn-fancy:active {
  background-color: #52EFE4;
  color: #000545; }

.btn-flat {
  border-radius: none;
  border: none;
  background-image: none; }

.btn-flat:hover {
  border-radius: none;
  border: none;
  background-image: none; }

.btn-lg {
  min-width: 200px;
  padding: 15px; }

.btn-extralarge {
  width: 100%; }

.alrt-succes {
  float: left;
  font-weight: bold;
  border-radius: 20px;
  padding: 30px;
  background-color: lime; }

.alrt-avertissement {
  float: left;
  font-weight: bold;
  border-radius: 20px;
  padding: 30px;
  background-color: red; }

.alrt-information {
  float: left;
  font-weight: bold;
  border-radius: 20px;
  padding: 30px;
  background-color: #01DFD7; }

.alrt-danger {
  float: left;
  font-weight: bold;
  border-radius: 20px;
  padding: 30px;
  background-color: orange; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.last {
  margin: 0; }

.span-1 {
  width: 11.625%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%; }

.span-2 {
  width: 23.25%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%; }

.span-3 {
  width: 34.875%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%; }

.span-4 {
  width: 46.5%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%; }

.span-5 {
  width: 58.125%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%; }

.span-6 {
  width: 69.75%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%; }

.span-7 {
  width: 81.375%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%; }

.span-8 {
  width: 93%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%; }

.offset-1 {
  margin-left: 12.625%; }

.offset-2 {
  margin-left: 25.25%; }

.offset-3 {
  margin-left: 37.875%; }

.offset-4 {
  margin-left: 50.5%; }

.offset-5 {
  margin-left: 63.125%; }

.offset-6 {
  margin-left: 75.75%; }

.offset-7 {
  margin-left: 88.375%; }

.offset-8 {
  margin-left: 101%; }

/*# sourceMappingURL=framework.css.map */
