.alrt-succes {
	float : left;
	font-weight : bold;
	border-radius : 20px;
	padding : 30px;
	background-color : $vert;
}

.alrt-avertissement {
	float : left;
	font-weight : bold;
	border-radius : 20px;
	padding : 30px;
	background-color : $rouge;
}

.alrt-information {
	float : left;
	font-weight : bold;
	border-radius : 20px;
	padding : 30px;
	background-color : $bleu;
}

.alrt-danger {
	float : left;
	font-weight : bold;
	border-radius : 20px;
	padding : 30px;
	background-color : $orange;
}