.btn {
	color : #FE7F01;
	padding:3px;
	background-color:#3B3734;
	background-image: -webkit-linear-gradient(top, #777F86, #3B3734);
	background-image: -moz-linear-gradient(top, #777F86, #3B3734);
	background-image: -ms-linear-gradient(top, #777F86, #3B3734);
	background-image: -o-linear-gradient(top, #777F86, #3B3734);
	background-image: linear-gradient(to bottom, #777F86, #3B3734);
	border-right : solid 3px gray;
	border-bottom : solid 3px gray;
	border-radius: 3px;
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	font-weight : bold;
 	text-shadow: 0 0 1px black;
}

.btn:hover {
	cursor:pointer;
}

.btn:active {
	border : solid 3px gray;
	cursor:pointer;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);  
	/* box-shadow: h-pos v-pos (blur) (spread) (color) (inset); */
}

.btn-blue {
	background-color: #0040F2;
	background-image: -webkit-linear-gradient(top, #017DEA, #0040F2);
	background-image: -moz-linear-gradient(top, #017DEA, #0040F2);
	background-image: -ms-linear-gradient(top, #017DEA, #0040F2);
	background-image: -o-linear-gradient(top, #017DEA, #0040F2);
	background-image: linear-gradient(to bottom, #017DEA, #0040F2);
	border-right : solid 3px #0E0051;
	border-bottom : solid 3px #0E0051;
	border-left : solid 3px #017DEA;
	border-top : solid 3px #017DEA;
	color:#CFD7BF;
}

.btn-blue:active {
	background-color : #52EFE4;
	color : #000545;
}

.btn-red {
	background-color: #A60000;
	background-image: -webkit-linear-gradient(top, #F60000, #A60000);
	background-image: -moz-linear-gradient(top, #F60000, #A60000);
	background-image: -ms-linear-gradient(top, #F60000, #A60000);
	background-image: -o-linear-gradient(top, #F60000, #A60000);
	background-image: linear-gradient(to bottom, #F60000, #A60000);
	border-right : solid 3px #5B0505;
	border-bottom : solid 3px #5B0505;
	border-left : solid 3px #F60000;
	border-top : solid 3px #F60000;
	color:#CFD7BF;
}

.btn-red:active {
	background-color : #52EFE4;
	color : #000545;
}

.btn-green {
	background-color: #A60000;
	background-image: -webkit-linear-gradient(top, #15B604, #0A6500);
	background-image: -moz-linear-gradient(top, #15B604, #0A6500);
	background-image: -ms-linear-gradient(top, #15B604, #0A6500);
	background-image: -o-linear-gradient(top, #15B604, #0A6500);
	background-image: linear-gradient(to bottom, #15B604, #0A6500);
	border-right : solid 3px #074600;
	border-bottom : solid 3px #074600;
	border-left : solid 3px #15B604;
	border-top : solid 3px #15B604;
	color:#CFD7BF;
}

.btn-green:active {
	background-color : #52EFE4;
	color : #000545;
}

.btn-fancy {
	background-color: red;
	background-image: -webkit-linear-gradient(top, #15B604, red);
	background-image: -moz-linear-gradient(top, blue, red);
	background-image: -ms-linear-gradient(top, blue, red);
	background-image: -o-linear-gradient(top, blue, red);
	background-image: linear-gradient(to bottom, #blue, red);
	border-right : solid 3px #0E0051;
	border-bottom : solid 3px #0E0051;
	border-left : solid 3px #017DEA;
	border-top : solid 3px #017DEA;
	color:#CFD7BF;
}

.btn-fancy:active {
	background-color : #52EFE4;
	color : #000545;
}

.btn-flat {
	border-radius : none;
	border : none;
	background-image: none;
}

.btn-flat:hover {
	border-radius : none;
	border : none;
	background-image: none;
}

.btn-lg {
	min-width : 200px;
	padding : 15px;
}

.btn-lg:hover {

}

.btn-extralarge {
	width:100%;
}

