$nbTotalGoulottes:$nbColonnes - 1;
$width_total: 100% - ($nbTotalGoulottes*$largeurGoulotte);

@mixin span($nombre) {
	width : ($width_total/$nbColonnes)*$nombre;
	float:left;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	margin-right: $largeurGoulotte;
}

@mixin offset($nombre) {
	margin-left: ($nombre*$width_total/$nbColonnes)+$nombre * $largeurGoulotte	
}

.clearfix:before,.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear:both;
}

.clearfix {
	zoom:1;
}

.last{
	margin: 0;
}

@for $i from 1 through $nbColonnes {
	.span-#{$i} {
		@include span($i);
	}
}

@for $i from 1 through $nbColonnes {
  
	.offset-#{$i}{
		@include offset($i);
	}
}