h1, h2, h3, h4, h5, h6 {
	color:black;
	font-weight: bold;
	
	.small {
		font-size: 70%;
		color:grey;
	}
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 15px;
}

h6 {
	font-size: 10px;
}

h1>small,h2>small,h3>small,h4>small,h5>small,h6>small {
	font-size: 70%;
	color:grey;
}

ins {
	text-decoration: underline;
}


abbr {
	font-weight: bold;

}

strong {
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

mark {
	background-color: yellow;
}

p {
	margin-bottom: 15px;
}

blockquote {
	font-style: italic;
	margin:30px;
	
    &:before {
        content: '"';
		font-size: 200%;
		font-style: italic;
    }
	
	&:after {
        content: '"';
		font-size: 200%;
		font-style: italic;
    }
}

code {
	margin:30px;
	background-color: grey;
	border-radius:10px;
	padding: 30px;
	opacity:0.8;
}

pre {
	margin:30px;
	background-color: grey;
	border: 1px solid black;
	padding: 10px;
}

kbd{
	margin:30px;
	background-color: black;
	color:white;
	padding:10px;
	border-radius: 10px
}

ul {
	padding : 30px;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.justify {
	text-align: justify;
}

.upperCase {
	text-transform: uppercase;
}

.lowerCase {
	text-transform: lowercase;
}

table {
	border: medium solid black;
	width: 50%;

	td {
		border: thin solid grey;
		width: 50%;
	} 
	th {
		border: medium solid black;
		width: 50%;
	} 
}